In [ ]:
fit 
transform
fit_transform

In [63]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [69]:
x1 = pd.DataFrame({"Test": np.random.randint(20,30,size = 20)})
x1_train = x1.head(15)
x1_test = x1.tail()
x1_train

    Test
0     21
1     27
2     27
3     25
4     26
5     20
6     25
7     29
8     28
9     27
10    23
11    24
12    24
13    24
14    23

In [70]:
x1_test

    Test
15    27
16    28
17    22
18    28
19    28

In [71]:
std_scaler = StandardScaler()
std_scaler.fit(x1_train)  # Storing mean and std 
std_scaler.transform(x1_train)

array([[-1.58090387],
       [ 0.87222283],
       [ 0.87222283],
       [ 0.05451393],
       [ 0.46336838],
       [-1.98975832],
       [ 0.05451393],
       [ 1.68993173],
       [ 1.28107728],
       [ 0.87222283],
       [-0.76319497],
       [-0.35434052],
       [-0.35434052],
       [-0.35434052],
       [-0.76319497]])

In [81]:
std_scaler.transform(x1_test)

array([[ 0.87222283],
       [ 1.28107728],
       [-1.17204942],
       [ 1.28107728],
       [ 1.28107728]])

In [82]:
import pickle
with open('Std_Scaler.pkl','wb') as f:
    pickle.dump(std_scaler,f)